<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Animals</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd; margin-top:2%">
    <a class="btn btn-primary" href="{% url 'animals:create' %}">Create animal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-outline-primary" href="{% url 'animals:all' %}">Show all</a>
          &nbsp;
        </li>
        <li class="nav-item active">
          <a class="btn btn-outline-primary" href="{% url 'animals:dogs' %}">Show only dogs</a>
          &nbsp;
        </li>
        <li class="nav-item active">
          <a class="btn btn-outline-primary" href="{% url 'animals:cats' %}">Show only cats</a>
          &nbsp;
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'animals:all' %}" method="get">
        <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search by name" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
    <div class="row" style="margin-top:5%">
    {% for animal in animals %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{{animal.image_url}}" class="card-img-top" alt="{{animal.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{animal.name}}</h5>
                    <a href="{% url 'animals:details' animal.id %}" class="btn btn-primary">See details</a>
                    <a href="{% url 'animals:delete' animal.id %}" class="btn btn-danger">Delete</a>
                </div>
                <hr style="clear:both;">
            </div>
        </div>
    {% endfor %}

    </div>
</div>

</body>
</html>