<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Animals</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Newsletter</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>


<div class="container" style="margin-top:5%">
    <a href="{% url 'animals:create' %}" class="btn btn-success">Create animal</a><br/><br/>

    <div class="row">
    {% for animal in animals %}
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{{animal.image_url}}" class="card-img-top" alt="{{animal.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{animal.name}}</h5>
                    <a href="{% url 'animals:details' animal.id %}" class="btn btn-primary">See details</a>
                    <a href="{% url 'animals:delete' animal.id %}" class="btn btn-danger">Delete</a>
                </div>
                <hr style="clear:both;">
            </div>
        </div>
    {% endfor %}

    </div>
</div>

</body>
</html>