<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h2>Logged out</h2>
    <p>Thanks for spending some quality time with the Web site today.</p>
    <div class="row"></div><p></p>
        <a class="btn btn-secondary" href="{% url 'login' %}" role="button">Login again &raquo;</a>
        <a class="btn btn-secondary" href="#" role="button">Go to the home page &raquo;</a></p>
    </div>
</body>
</html>