<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-lg-6">
                <img src="{{book.cover_image_url}}" style="width: 100%" alt="">
            </div>
            <div class="col-lg-6">
                <h1><b>{{book.title}}</b></h1>
                <p>{{book.description}}</p>
            </div>
            {% else %}
            <h1>You must be <a href="{% url 'login' %}">Logged in</a> to see this page</h1>
            {% endif %}
        </div>
    </div>
</body>
</html>